__pycache__/
*.pyc
ZEDX Model/History/
ZEDX Model/Model/qwen_local_model/
*.pth
*.safetensors
alpaca_tokenizer/
gui_inference.py
inference.py
pretrained_inference.py
temp_corpus.txt
train.csv
train_model.py
